<footer>
  <nav class="footer-nav">
    <%= link_to "利用規約 ", "#", class:"footer-nav__content"%><div class="line">|</div>
    <%= link_to "プライバシーポリシー", "#", class:"footer-nav__content"%><div class="line">|</div>
    <%= link_to "プライバシーステートメント", "#", class:"footer-nav__content"%><div class="line">|</div>
    <%= link_to "健全化に資する運用方針", "#", class:"footer-nav__content"%><div class="line">|</div>
    <%= link_to "お問い合わせ", "#", class:"footer-nav__content"%><div class="line">|</div>
    <%= link_to "運営会社", "#", class:"footer-nav__content"%><div class="line">|</div>
    <%= link_to "サイトマップ", "#", class:"footer-nav__content"%><div class="line">|</div>
    <%= link_to "特定商取引法の表示", "#", class:"footer-nav__content"%>
  </nav>
  <span class="footer-text">FUGAFUGA (C) 2000 - 2099 homehome, Hoge. HOGE HOGEHOGE.</span>
</footer>