<header>
  <div class="header-box">
    <%= link_to root_path do%>
      <%= image_tag "logo.png", class:"logo"%>
    <% end %>
    <div class="header-search">
      <input type="text", class="header-input">
      <button type="submit", class="header-submit">
    </div>
    <div class="header-info">
      <% if user_signed_in? %> 
        <%= link_to "マイページ", user_path(current_user.id), class:"header-info-link"%>
        <%= link_to "ログアウト", destroy_user_session_path, method:"delete", class:"header-info-link"%>
      <% else %>
        <%= link_to "ログイン", user_session_path, class:"header-info-link"%>
        <%= link_to "会員登録", new_user_registration_path , class:"header-info-link"%>
      <% end %>
    </div>
  </div>
  <nav class="header-nav">
    <%= link_to "Web飲み会を開催", "#", class:"header-nav__content"%>
    <%= link_to "Web飲み会に参加", "#", class:"header-nav__content"%>
    <%= link_to "ゲームで対戦する", "#", class:"header-nav__content"%>
    <%= link_to "テレビ電話で話す", "#", class:"header-nav__content"%>
    <%= link_to "動画配信する", "#", class:"header-nav__content"%>
    <%= link_to "プログラミングの依頼", "#", class:"header-nav__content"%>
    <%= link_to "ライティングの依頼", "#", class:"header-nav__content"%>
    <%= link_to "デザインの依頼", "#", class:"header-nav__content"%>
    <%= link_to "その他", "#", class:"header-nav__content"%>
  </nav>
</header>