<header>
  <div class="header-box">
    <%= image_tag "logo.png", class:"logo"%>
    <div class="header-search">
      <input type="text", class="header-input">
      <button type="submit", class="header-submit">
    </div>
    <div class="header-info">
      <%= link_to "ログイン", "#", class:"header-info-link"%>
      <%= link_to "会員登録", "#", class:"header-info-link"%>
    </div>
  </div>
  <nav class="header-nav">
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
    <%= link_to "お仕事", "#", class:"header-nav__content"%>
  </nav>
</header>