<%= render "shared/header"%>

<%= image_tag "top.png",class:"top-image"%>
<div class="home-container">
  <%= image_tag "pick.png", class:"pick-image"%>
  <div class="post-show">
    <div class="post-show__box">a</div>
    <div class="post-show__box">a</div>
    <div class="post-show__box">a</div>
    <div class="post-show__box">a</div>
    <div class="post-show__box">a</div>
    <div class="post-show__box">a</div>
  </div>
</div>

<%= render "shared/postbtn"%>
<%= render "shared/footer"%>
